.additional-products__title {
  position: relative;
  margin: 0;
  padding-top: 16px;
  padding-bottom: 35px;

  font-size: 24px;
  line-height: 24px;
  font-weight: 400;

  border-bottom: 1px solid $border-grey;

  &::after {
    content: "";

    position: absolute;
    top: 31px;
    right: -20px;

    width: 53px;
    height: 3px;

    background-color: $green;
  }
}

.additional-products__promo {
  position: relative;
  padding-top: 39px;
  padding-bottom: 32px;
}

.additional-products__icon {
  position: absolute;
  top: 103px;
  left: 113px;

  fill: $white;
}

.additional-products__text {
  position: absolute;
  left: 56px;
  bottom: 62px;

  width: 165px;

  color: $white;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .additional-products__title {
    padding-top: 66px;
    padding-left: 38px;
    padding-bottom: 80px;
    width: 413px;

    font-size: 36px;
    line-height: 36px;

    border-bottom: none;
    background-color: $white;

    &::after {
      display: none;
    }
  }

  .additional-products__promo {
    padding-top: 69px;
    padding-bottom: 73px;
  }

  .additional-products__icon {
    top: 134px;
    left: 91px;
  }

  .additional-products__text {
    top: 142px;
    left: 424px;

    margin: 0;

    text-align: left;
  }
}

@media (min-width: $desktop-width) {
  .additional-products {
    padding-bottom: 86px;
  }

  .additional-products__title {
    margin-left: -39px;
    padding-top: 76px;
  }

  .additional-products__wrapper {
    display: flex;
    justify-content: space-between;
  }

  .additional-products__promo {
    padding: 0;
  }

  .additional-products__icon {
    top: 65px;
    left: 96px;
  }

  .additional-products__text {
    top: 185px;
    left: 40px;

    text-align: center;
  }
}
