.additional-products__title {
  position: relative;
  margin: 0;
  padding-top: 16px;
  padding-bottom: 35px;

  font-size: 24px;
  line-height: 24px;
  font-weight: 400;

  border-bottom: 1px solid $border-grey;

  &::after {
    content: "";

    position: absolute;
    top: 31px;
    right: -20px;

    width: 53px;
    height: 3px;

    background-color: $green;
  }
}

@media (min-width: $tablet-width) {
  .additional-products__title {
    padding-top: 66px;
    padding-left: 38px;
    padding-bottom: 80px;
    width: 413px;

    font-size: 36px;
    line-height: 36px;

    border-bottom: none;
    background-color: $white;

    &::after {
      display: none;
    }
  }
}

@media (min-width: $desktop-width) {
  .additional-products {
    padding-bottom: 86px;
  }

  .additional-products__title {
    margin-left: -39px;
    padding-top: 76px;
  }

  .additional-products__wrapper {
    display: flex;
    justify-content: space-between;
  }
}
