.additional-products__title {
  position: relative;
  margin: 0;
  padding-top: 31px;
  padding-bottom: 30px;

  font-size: 24px;
  line-height: 24px;
  font-weight: 400;

  border-bottom: 1px solid $border-grey;

  &::after {
    content: "";

    position: absolute;
    top: 44px;
    right: -20px;

    width: 53px;
    height: 3px;

    background-color: $green;
  }
}

@media (min-width: $tablet-width) {
  .additional-products__title {
    padding-top: 71px;
    padding-bottom: 75px;

    font-size: 36px;
    line-height: 36px;

    border-bottom: none;
  }
}

@media (min-width: $desktop-width) {
  .additional-products {
    padding-bottom: 86px;
  }

  .additional-products__title {
    padding-top: 79px;
  }

  .additional-products__wrapper {
    display: flex;
    justify-content: space-between;
  }
}
