.additional {
  @include list-reset;
}

.additional__item {
  padding-top: 14px;
  padding-bottom: 17px;

  border-bottom: 1px solid $border-grey;
}

.additional__title {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;

  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;
}

.additional__description {
  display: flex;
  justify-content: space-between;

  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
}

.additional__text {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
}

.additional-products__promo {
  position: relative;
  padding-top: 39px;
  padding-bottom: 35px;
}

.additional-products__icon {
  position: absolute;
  top: 104px;
  left: 113px;

  path {
    fill: $white;
  }
}

.additional-products__text {
  position: absolute;
  left: 65px;
  bottom: 60px;

  width: 156px;

  color: $white;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}
