.advantages__title {
  margin: 0;
  padding: 0;

  font-size: 36px;
  line-height: 55px;
  font-weight: 400;
}

.advantages__list {
  @include list-reset;
  margin-top: 33px;
  margin-bottom: 45px;
}

.advantages__item {
  position: relative;

  margin-bottom: 26px;
  padding-left: 80px;

  font-family: "Arial", sans-serif;
  color: $dark-grey;

  &::before {
    content: "";
    top: -3px;
    left: 0;

    position: absolute;

    width: 60px;
    height: 60px;

    background-color: $green;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
}

.advantages__item--leaf {
  &::before {
    background-image: url("../img/advantage-leaf@1x.png");

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/advantage-leaf@2x.png");
      background-size: 50px auto;
    }
  }
}

.advantages__item--water {
  &::before {
    background-image: url("../img/advantage-powder@1x.png");

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/advantage-powder@2x.png");
      background-size: 50px auto;
    }
  }
}

.advantages__item--fork {
  &::before {
    background-image: url("../img/advantage-dining@1x.png");

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/advantage-dining@2x.png");
      background-size: 50px auto;
    }
  }
}

.advantages__item--time {
  &::before {
    background-image: url("../img/advantage-clock@1x.png");

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/advantage-clock@2x.png");
      background-size: 50px auto;
    }
  }
}

@media (min-width: $tablet-width) {
  .advantages {
    padding-top: 44px;
    padding-bottom: 42px;

    border-bottom: 1px solid $border-grey;
  }

  .advantages__title {
    margin: 0;
    margin-bottom: 75px;
    font-size: 60px;
    line-height: 60px;
  }

  .advantages__list {
    display: flex;
    justify-content: flex-start;
    align-content: space-between;
    flex-wrap: wrap;

    margin-bottom: 0;
  }

  .advantages__item {
    padding-top: 109px;
    padding-bottom: 60px;
    padding-left: 0;
    margin-right: 140px;
    margin-bottom: 0;
    width: 244px;

    font-size: 16px;
    line-height: 24px;

    &::before {
      width: 80px;
      height: 80px;
    }

    &::after {
      content: "";
      position: absolute;
      top: 86px;
      left: 117px;
      z-index: -1;

      font-family: "Oswald", "Arial", sans-serif;
      font-size: 281px;
      color: $bg-grey;
    }
  }

  .advantages__item:nth-child(2n) {
    margin-right: 0;
    margin-bottom: 76px;
  }

  .advantages__item:last-child {
    margin-bottom: 0;
  }

  .advantages__item--leaf {
    &::after {
      content: "1";
      width: 71px;
    }
  }

  .advantages__item--water {
    &::after {
      content: "2";
      left: 111px;
      width: 115px;
    }
  }

  .advantages__item--fork {
    &::after {
      content: "3";
      left: 113px;
      width: 114px;
    }
  }

  .advantages__item--time {
    width: 245px;

    &::after {
      content: "4";
      left: 113px;
      width: 121px;
    }
  }
}

@media (min-width: $desktop-width) {
  .advantages {
    padding-top: 72px;
    padding-bottom: 0;

    border: none;
  }

  .advantages__list {
    justify-content: space-between;
  }

  .advantages__item {
    margin-right: 0;
    width: 238px;
  }

  .advantages__item:nth-child(2n) {
    margin-bottom: 0;
  }

  .advantages__item--time {
    width: 246px;
  }
}
