.button {
  display: block;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;

  color: $white;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;

  background-color: $green;
  border: none;

  &:hover,
  &:focus {
    background-color: $green-hover;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}

.promo__button {
  padding-top: 11px;
  padding-bottom: 11px;

  font-size: 14px;
  line-height: 18px;
}

@media (min-width: $tablet-width) {
  .promo__button {
    padding-top: 17px;
    padding-bottom: 17px;

    font-size: 20px;
  }
}
