.button {
  display: block;
  width: 100%;
  padding-top: 14px;
  padding-bottom: 11px;

  color: $white;
  text-align: center;
  text-transform: uppercase;

  background-color: $green;
  border: none;

  &:hover,
  &:focus {
    background-color: $green-hover;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}
