.catalog {
  @include list-reset;
}

.catalog__item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: -1px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 24px;

  border: 1px solid $border-light-grey;
}

.catalog__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 138px;
}

.catalog__image {
  width: 140px;
}

.catalog__title {
  margin: 0;
  margin-bottom: 13px;
  padding: 0;
  width: 75px;

  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
}

.catalog__description {
  width: 140px;

  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;

  border-collapse: collapse;
}

.catalog__field,
.catalog__value {
  padding: 0;
  width: 50%;
}

.catalog__value {
  text-align: right;
}

.catalog__link {
  margin-top: -3px;
}

.catalog__item--more {
  position: relative;
  justify-content: center;
  margin: 0;
  margin-bottom: 11px;
  padding: 0;
  padding-top: 81px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 25px;

  text-align: center;

  &::after {
    content: "";

    position: absolute;
    top: 26px;
    left: 143px;

    width: 31px;
    height: 31px;

    background-image: url("../img/icon-plus-mobile.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.2;
  }
}

.catalog__title--more {
  margin-bottom: 8px;
  width: 100%;
}

.catalog__text {
  margin: 0;
  margin-bottom: 23px;
  padding: 0;

  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
}

.catalog__link--more {
  color: $dark-grey;


  background-color: $bg-grey;

  &:hover,
  &:focus {
    background-color: $hover-grey;
  }

  &:active {
    color: rgba(68, 68, 68, 0.3);
  }
}

@media (min-width: $tablet-width) {
  .catalog {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .catalog__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 140px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 40px;
    width: 324px;

    background-color: $bg-grey;
    border: none;
  }

  .catalog__image {
    margin-top: -47px;
    margin-bottom: 35px;
    width: 100%;
  }

  .catalog__image--chicken-big {
    margin-top: -83px;
  }

  .catalog__image--fish-big,
  .catalog__image--buckwheat-big {
    margin-top: -82px;
  }

  .catalog__wrapper {
    align-items: center;
    margin-bottom: 33px;
    padding-right: 37px;
    padding-left: 38px;
    width: 100%;
  }

  .catalog__title {
    margin-bottom: 18px;
    width: 130px;

    font-size: 20px;
    text-align: center;
  }

  .catalog__description {
    width: 249px;

    font-size: 16px;
  }

  .catalog__row {
    border-bottom: 1px solid $border-grey;
  }

  .catalog__field,
  .catalog__value {
    padding-top: 9px;
    padding-bottom: 6px;
  }

  .catalog__link {
    margin-top: 0;
    width: 249px;
  }

  .catalog__item--more {
    margin-bottom: 0;
    padding-top: 165px;
    padding-bottom: 38px;

    background-color: $white;
    border: 1px solid $grey;

    &::after {
      top: 55px;
      left: 132px;
      width: 61px;
      height: 61px;

      background-image: url("../img/icon-plus.svg");
    }
  }

  .catalog__title--more {
    margin-bottom: 26px;
    width: 135px;
  }

  .catalog__text {
    margin-bottom: 86px;
    width: 170px;

    font-size: 16px;
    line-height: 18px;
  }
}

@media (min-width: $desktop-width) {
  .catalog__item {
    width: 245px;
  }

  .catalog__description {
    width: 168px;
  }

  .catalog__link {
    width: 170px;
  }

  .catalog__item--more {
    padding-top: 165px;

    &::after {
      top: 55px;
      left: 93px;
    }
  }
}
