.catalog {
  margin: 0;
  padding: 0;

  list-style: none;
}

.catalog__item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-bottom: 25px;

  border-bottom: 1px solid $border-light-grey;
}

.catalog__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 140px;
}

.catalog__image {
  width: 140px;
}

.catalog__title {
  margin: 0;
  margin-bottom: 18px;
  padding: 0;
  width: 75px;

  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
}

.catalog__description {
  width: 140px;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;

  border-collapse: collapse;
}

.catalog__row {
  display: flex;
  justify-content: space-between;
  width: 140px;
}

/*стили для IE*/
.catalog__field {
  width: 40px;
}

/*стили для IE*/
.catalog__value {
  width: 45px;
  text-align: right;
}

.catalog__item--more {
  position: relative;
  justify-content: center;
  padding-top: 82px;
}

.catalog__title--more {
  margin: 0;
  margin-bottom: 11px;
  padding: 0;
  width: 100%;

  text-align: center;

  &::before {
    content: "";
    position: absolute;
    top: 27px;
    left: 125px;

    width: 31px;
    height: 31px;

    background-image: url("../img/icon-plus-mobile.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.2;
  }
}

.catalog__text {
  margin: 0;
  margin-bottom: 22px;
  padding: 0;

  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
}

.сatalog__link--more {
  color: $dark-grey;
  background-color: $bg-grey;

  &:hover,
  &:focus {
    background-color: $hover-grey;
  }

  &:active {
    color: rgba(68, 68, 68, 0.3);
  }
}
