.contacts {
  display: flex;
  justify-content: space-between;
}

.contacts__text {
  margin: 0;
  padding: 0;
  width: 140px;

  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.contacts__adress {
  width: 139px;
}

.contacts__street,
.contacts__city {
  margin: 0;
  padding: 0;

  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
}

.contacts-block__map {
  position: relative;
  z-index: 1;
  width: 100%;

  border: none;
}

.contacts-block__bg-map {
  position: absolute;
  top: 114px;
  left: 50%;
  z-index: -2;
  margin-left: -160px;
  width: 320px;
}

.contacts-block__pin {
  position: absolute;
  top: 300px;
  left: 46%;
  z-index: -1;
  width: 55px;
}

@media (min-width: $tablet-width) {
  .contacts__text {
    width: 154px;

    font-size: 20px;
    line-height: 25px;
  }

  .contacts__adress {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 155px;
  }

  .contacts__street,
  .contacts__city {
    font-size: 16px;
    line-height: 20px;
    text-align: right;
  }

  .contacts-block__bg-map {
    top: 205px;
    margin-left: -384px;
    width: 767px;
  }

  .contacts-block__pin {
    top: 360px;
    width: 113px;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    padding-left: 76px;
    padding-right: 90px;
    width: 570px;
  }

  .contacts__street,
  .contacts__city {
    text-align: left;
  }

  .contacts-block__bg-map {
    top: 0;
    left: 0;
    margin-left: 0;
    width: 100%;
  }

  .contacts-block__pin {
    top: 170px;
    left: 1050px;
    width: 113px;
  }
}
