.copyright {
  position: relative;
  padding-top: 28px;
  padding-bottom: 31px;
}

.copyright__link {
  color: $dark-grey;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;

  &:hover,
  &:focus {
    path {
      fill: $green;
    }
  }

  &:active {
    color: rgba(68, 68, 68, 0.3);

    path {
      fill: $green;
      opacity: 0.3;
    }
  }
}

.copyright__icon {
  position: absolute;
  top: 22px;
  right: 0;

  path {
    fill: $darker-grey;
  }
}

@media (min-width: $tablet-width) {
  .copyright {
    padding-top: 24px;
    width: 162px;
  }

  .copyright__icon {
    top: 18px;
  }
}
