/*stylelint-disable*/
.example {
  background-color: $bg-grey;
}

.example__title {
  margin: 0;
  padding-top: 17px;
  padding-bottom: 24px;

  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
}

.example__text {
  margin: 0;
  margin-bottom: 24px;
  padding: 0;
  width: 266px;

  font-family: "Arial", sans-serif;
  color: $dark-grey;
}

.example__results {
  margin-bottom: 35px;
}

.example__wrapper {
  margin-top: 44px;
}

.example__wrapper-slider {
  width: 320px;
  margin: 0 auto;
  padding-bottom: 24px;
}

.example__image {
  width: 320px;
}

.example__slider {
  position: relative;
  overflow: hidden;

  width: 320px;
  height: 232px;
}

.example__slide {
  position: absolute;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.example__slide--before {
  z-index: 3;
  width: 100%;

  background-color: $bg-grey;
}

.example__slide--after {
  z-index: 2;
  width: 0;
}

.example__toggle {
  display: flex;
  justify-content: space-between;
  margin-top: 31px;
  margin-left: 63px;
  width: 198px;
}

.example__button {
  padding: 0;
  padding-bottom: 3px;

  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;

  background-color: transparent;
  border: none;
  border-bottom: 1px dotted rgba(152, 152, 152, 0.23);
  cursor: pointer;

  &:hover,
  &:focus {
    border-bottom: 1px solid rgba(152, 152, 152, 0.4);
  }

  &:active {
    border: none;
  }
}

.example__range {
  appearance: none;
  margin: 0 12px;
  margin-bottom: 5px;
  padding: 0;
  width: 84px;
  height: 35px;

  background-color: transparent;

  &::-webkit-slider-thumb {
    appearance: none;
    box-sizing: border-box;
    margin-top: 3px;
    width: 35px;
    height: 6px;

    border: none;
    border-radius: 5px;
    background-color: $green;

    cursor: pointer;
  }

  &::-moz-range-thumb {
    box-sizing: border-box;
    width: 35px;
    height: 6px;

    border: none;
    border-radius: 5px;
    background-color: $green;
  }

  &::-ms-thumb {
    box-sizing: border-box;
    margin-top: 0;
    width: 35px;
    height: 6px;

    border: none;
    border-radius: 5px;
    background-color: $green;
  }

  &::-ms-tooltip {
    display: none;
  }

  &::-webkit-slider-runnable-track {
    box-sizing: border-box;
    padding: 0 5px;
    width: 84px;
    height: 14px;

    background-color: $white;
    border: 1px solid $border-grey;
    border-radius: 6px;

    cursor: pointer;
  }

  &::-moz-range-track {
    box-sizing: border-box;
    padding: 0 5px;
    width: 84px;
    height: 14px;

    background-color: $white;
    border: 1px solid $border-grey;
    border-radius: 6px;

    cursor: pointer;
  }

  &::-ms-track {
    box-sizing: border-box;
    padding: 0 5px;
    width: 84px;
    height: 14px;

    background-color: $white;
    border: 1px solid $border-grey;
    border-radius: 6px;

    cursor: pointer;
  }

  &::-ms-fill-lower {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .example {
    background-image: linear-gradient(to right, $bg-grey 50%, $slider-grey 50%);
  }

  .example__wrap {
    background-image: linear-gradient($white 575px, transparent 575px);
  }

  .example__title {
    padding-top: 0;
    padding-bottom: 64px;

    font-size: 60px;
  }

  .example__text {
    margin-bottom: 55px;
    width: 677px;

    font-size: 16px;
    line-height: 24px;
  }

  .example__results {
    margin-bottom: 85px;
  }

  .example__wrapper-slider {
    position: relative;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 115px;
    width: 668px;
  }

  .example__slider {
    width: 668px;
    height: 517px;
  }

  .example__slide {
    background-image: linear-gradient($white 169px, transparent 169px);
  }

  .example__slide--after {
    left: 3px;
    width: 50%;
  }

  .example__slide--before {
    overflow: hidden;
    width: 50%;
  }

  .example__image {
    width: 676px;
    height: 517px;
  }

  .example__toggle {
    position: absolute;
    left: -14px;
    bottom: 61px;
    z-index: 5;
    align-items: center;
    margin-top: 0;
    width: 570px;
  }

  .example__button {
    padding-bottom: 7px;

    font-size: 20px;
  }

  .example__range {
    margin: 0 12px;
    padding: 0;
    width: 428px;
    height: 40px;

    &::-webkit-slider-thumb {
      margin-top: -15px;
      width: 34px;
      height: 34px;

      background-color: $green;
      border: 13px solid $white;
      border-radius: 50%;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);

      cursor: pointer;
    }

    &:hover::-webkit-slider-thumb {
      box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.25);
    }

    &:active::-webkit-slider-thumb {
      width: 32px;
      height: 32px;
      border: 12px solid $white;
      box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.3), 0 0 0 2px $green;
    }

    &::-webkit-slider-runnable-track {
      padding: 0;
      width: 428px;
      height: 6px;

      background-color: $range-grey;
      border: none;
      border-radius: 5px;

      cursor: pointer;
    }

    &::-moz-range-thumb {
      width: 34px;
      height: 34px;

      background-color: $green;
      border: 13px solid $white;
      border-radius: 50%;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);

      cursor: pointer;
    }

    &:hover::-moz-range-thumb {
      box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.25);
    }

    &:active::-moz-range-thumb {
      width: 32px;
      height: 32px;
      border: 12px solid $white;
      box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.3), 0 0 0 2px $green;
    }

    &::-moz-range-track {
      padding: 0;
      width: 428px;
      height: 6px;

      background-color: $range-grey;
      border: none;
      border-radius: 5px;

      cursor: pointer;
    }

    &::-ms-thumb {
      margin-top: 0;
      width: 34px;
      height: 34px;

      background-color: $green;
      border: 13px solid $white;
      border-radius: 50%;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);

      cursor: pointer;
    }

    &:hover::-ms-thumb {
      box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.25);
    }

    &:active::-ms-thumb {
      width: 32px;
      height: 32px;
      border: 12px solid $white;
      box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.3), 0 0 0 2px $green;
    }

    &::-ms-track {
      padding: 0;
      width: 428px;
      height: 6px;

      background-color: $range-grey;
      border: none;
      border-radius: 5px;

      cursor: pointer;
    }

    &::-ms-fill-upper {
      background-color: $range-grey;
    }

    &::-ms-fill-lower {
      background-color: $range-grey;
    }
  }
}

@media (min-width: $desktop-width) {
  .example__wrap {
    background-image: linear-gradient($white 30%, transparent 30%);
  }

  .example__container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding-left: 40px;
    width: 1300px;
  }

  .example__wrapper {
    width: 565px;
  }

  .example__title {
    padding-top: 22px;
    padding-bottom: 147px;
  }

  .example__text {
    margin-bottom: 68px;
    width: 435px;
  }

  .example__wrapper-slider {
    margin-top: 10px;
    margin-right: 0;
    margin-left: auto;
    padding-bottom: 68px;
    width: 690px;

    background-image: linear-gradient(to right, $bg-grey 365px, $slider-grey 365px);
  }

  .example__slider {
    width: 690px;

    background-image: linear-gradient($white 191px, transparent 191px);
  }

  .example__slide {
    background-image: linear-gradient($white 192px, transparent 192px);
  }

  .example__image {
    width: 690px;
  }

  .example__slide--before {
    width: 53%;
  }

  .example__slide--after {
    left: 0;
  }

  .example__toggle {
    left: 18px;
    bottom: 70px;
  }

  .example__range {
    margin: 0 23px;
  }
}
