.form {
  display: block;
}

.form__fieldset {
  margin: 0;
  padding: 0;

  border: none;
}

.form__item {
  margin-bottom: 14px;
}

.form__list {
  @include list-reset;
}

.form__list--radio {
  padding-top: 29px;
  padding-bottom: 26px;

  border-top: 1px solid $radio-grey;
  border-bottom: 1px solid $radio-grey;
}

.form__item--radio {
  margin-bottom: 26px;
}

.form__item--radio:last-child {
  margin-bottom: 0;
}

.form__label {
  position: relative;
  display: flex;
  align-items: center;

  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.form__label--radio {
  padding-left: 50px;
}

.form__input {
  margin-left: 12px;
  padding-top: 13px;
  padding-bottom: 12px;
  padding-left: 16px;
  flex-grow: 1;

  font: inherit;
  text-transform: uppercase;

  border: 1px solid rgba(205, 205, 205, 0.5);
}

.form__input:hover {
  border-color: $border-grey;
}

.form__input:focus {
  border: 2px solid $dark-grey;
  outline: none;
}

.form__input--radio + .form__label--radio::before {
  content: "";
  position: absolute;
  top: -7px;
  left: 0;

  width: 30px;
  height: 30px;

  border: 1px solid $radio-grey;
  border-radius: 50%;
}

.form__input--radio:checked + .form__label--radio::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 9px;

  width: 12px;
  height: 12px;

  background-color: $green;
  border-radius: 50%;
}

.form__input--radio:hover + .form__label--radio::before,
.form__input--radio:focus + .form__label--radio::before {
  border: 1px solid $input-grey;
}

.form__input--radio:active + .form__label--radio {
  opacity: 0.3;
}

.form__legend {
  position: relative;
  padding-top: 31px;
  padding-bottom: 31px;
  width: 100%;

  font-size: 24px;
  line-height: 24px;
}

.form__legend--contacts {
  &::after {
    content: "";

    position: absolute;
    top: 44px;
    right: -20px;

    width: 99px;
    height: 3px;

    background-color: $green;
  }
}

.form__icon {
  position: absolute;
  top: 18px;
  right: 14px;

  path {
    fill: $icon-black;
  }
}

.form__icon--tel {
  top: 15px;
}

.form__label:active > .form__icon {
  path {
    fill: $green;
  }
}

.form__legend--comment {
  &::after {
    content: "";

    position: absolute;
    top: 44px;
    right: -20px;

    width: 158px;
    height: 3px;

    background-color: $green;
  }
}

.form__textarea {
  padding-top: 15px;
  padding-left: 16px;
  width: 100%;
  min-height: 150px;

  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.form__legend--additional {
  &::after {
    content: "";

    position: absolute;
    top: 44px;
    right: -20px;

    width: 136px;
    height: 3px;

    background-color: $green;
  }
}

.form__label--checkbox {
  margin-bottom: 25px;
  padding-left: 50px;
}

.form__input--checkbox + .form__label--checkbox::before {
  content: "";
  position: absolute;
  top: -7px;
  left: 0;

  width: 30px;
  height: 30px;

  border: 1px solid $radio-grey;
}

.form__input--checkbox:checked + .form__label--checkbox::after {
  content: "";
  position: absolute;
  top: 0;
  left: 6px;

  width: 22px;
  height: 17px;

  background-image: url("../img/icon-tick.svg");
}

.form__input--checkbox:hover + .form__label--checkbox::before,
.form__input--checkbox:focus + .form__label--checkbox::before {
  border: 1px solid $input-grey;
}

.form__input--checkbox:active + .form__label--checkbox {
  opacity: 0.3;
}

.form__button {
  margin-top: 18px;
}

.user-form__note {
  margin: 0;
  padding-top: 23px;
  padding-bottom: 34px;

  color: $dark-grey;
  font-family: "Arial", sans-serif;
  line-height: 16px;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .form__item {
    margin-bottom: 20px;
  }

  .form__item:last-child {
    margin-bottom: 0;
  }

  .form__label {
    font-size: 20px;
    line-height: 20px;
  }

  .form__input {
    margin-left: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
  }

  .form__fieldset--radio {
    margin-top: 79px;
  }

  .form__list--radio {
    padding-top: 36px;
    padding-bottom: 33px;

    border: 1px solid rgba(205, 205, 205, 0.5);
  }

  .form__item--radio {
    margin-bottom: 33px;
  }

  .form__item--radio:last-child {
    margin-bottom: 0;
  }

  .form__label--radio {
    padding-left: 88px;
  }

  .form__input--radio + .form__label--radio::before {
    top: -11px;
    left: 28px;

    width: 40px;
    height: 40px;
  }

  .form__input--radio:checked + .form__label--radio::after {
    top: 0;
    left: 39px;

    width: 18px;
    height: 18px;
  }

  .form__legend {
    font-size: 36px;
    line-height: 36px;
  }

  .form__legend--contacts {
    padding-top: 79px;
    padding-bottom: 70px;
  }

  .form__icon {
    position: absolute;
    top: 20px;
    right: 18px;

    path {
      fill: $icon-black;
    }
  }

  .form__icon--tel {
    top: 18px;
  }

  .form__legend--comment {
    padding-top: 69px;
    padding-bottom: 71px;
  }

  .form__textarea {
    padding-top: 17px;
    padding-left: 20px;
    min-width: 174px;

    font-size: 20px;
    line-height: 30px;
  }

  .form__legend--additional {
    padding-top: 69px;
    padding-bottom: 53px;
  }

  .form__list--checkbox {
    display: flex;
    flex-wrap: wrap;
  }

  .form__item--checkbox {
    margin-bottom: 0;
    width: 50%;
  }

  .form__label--checkbox {
    margin-bottom: 54px;
    padding-left: 55px;
  }

  .form__input--checkbox + .form__label--checkbox::before {
    top: -11px;

    width: 40px;
    height: 40px;
  }

  .form__input--checkbox:checked + .form__label--checkbox::after {
    top: 0;
    left: 10px;

    width: 21px;
    height: 16px;

    background-image: url("../img/icon-tick.svg");
  }

  .form__wrap {
    display: flex;
    align-items: center;
  }

  .form__button {
    margin-top: 0;
    margin-right: 61px;

    width: 283px;
  }

  .user-form__note {
    padding: 0;

    font-size: 16px;
  }
}

@media (min-width: $desktop-width) {
  .form__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .form__item {
    width: 570px;
  }

  .form__fieldset--radio {
    margin-top: 0;
  }

  .form__legend--contacts {
    padding-top: 73px;
  }

  .form__list--contacts {
    display: flex;
    justify-content: space-between;
  }

  .form__legend--comment {
    padding-top: 71px;
  }

  .form__textarea {
    min-height: 174px;
  }

  .form__legend--additional {
    padding-top: 71px;
    padding-bottom: 64px;
  }

  .form__item--checkbox {
    justify-content: space-between;
    width: 25%;
  }

  .form__label--checkbox {
    margin-bottom: 72px;
  }

  .form__button {
    width: 568px;
  }
}
