.goal__item {
  margin-bottom: 20px;
  padding-top: 30px;
  padding-right: 20px;
  padding-bottom: 22px;
  padding-left: 20px;

  background-color: $bg-grey;
}

.goal__title {
  position: relative;

  margin: 0;
  padding-left: 70px;

  font-size: 24px;
  font-weight: 400;
  line-height: 37px;
  text-align: left;
  text-transform: uppercase;

  &::before {
    content: "";

    position: absolute;
    top: -5px;
    left: 1px;

    width: 50px;
    height: 50px;

    background-color: $green;
    border-radius: 50%;
  }
}

.goal__title--slim {
  &::after {
    content: "";

    position: absolute;
    top: -8px;
    left: 9px;

    width: 35px;
    height: 49px;

    background-image: url("../img/icon-cat-slim.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }
}

.goal__title--pro {
  &::after {
    content: "";

    position: absolute;
    top: 5px;
    left: -8px;

    width: 67px;
    height: 28px;

    background-image: url("../img/icon-cat-pro.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }
}

.goal__description {
  margin: 0;
  padding-top: 30px;
  padding-bottom: 20px;

  font-family: "Arial", sans-serif;
  color: $dark-grey;

  border-bottom: 1px solid $grey;
}

.goal__link {
  position: relative;
  display: block;
  padding-top: 20px;

  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;

  &:active {
    color: rgba(17, 17, 17, 0.3);
  }

  &::before {
    content: "";

    position: absolute;
    top: 23px;
    left: 96px;

    width: 25px;
    height: 12px;

    background-image: url("../img/icon-right-arrow-long.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  &:hover::before,
  &:focus::before {
    width: 34px;
    background-image: url("../img/icon-right-arrow-verylong.svg");
  }

  &:active::before {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .goal__item {
    margin-bottom: 30px;
    padding-top: 77px;
    padding-bottom: 62px;
    padding-left: 52px;
  }

  .goal__item:last-child {
    margin-bottom: 0;
  }

  .goal__title {
    padding-left: 0;

    font-size: 36px;

    &::before {
      top: 14px;
      left: 395px;

      width: 200px;
      height: 200px;
    }
  }

  .goal__title--slim {
    &::after {
      top: 3px;
      left: 424px;

      width: 141px;
      height: 194px;
    }
  }

  .goal__title--pro {
    &::after {
      top: 57px;
      left: 360px;

      width: 268px;
      height: 113px;
    }
  }

  .goal__description {
    width: 375px;
    padding-top: 25px;
    padding-bottom: 56px;

    font-size: 16px;
    line-height: 24px;

    border-bottom: none;
  }

  .goal__description--pro {
    width: 340px;
  }

  .goal__link {
    padding-top: 0;

    font-size: 20px;
    line-height: 20px;

    &::before {
      top: 4px;
      left: 131px;
      width: 24px;
      height: 11px;
    }
  }

  .goal__link--pro {
    &::before {
      left: 125px;
    }
  }
}

@media (min-width: $desktop-width) {
  .goal {
    display: flex;
    justify-content: space-between;
  }

  .goal__item {
    margin-bottom: 0;
    padding-top: 76px;
    width: 570px;
  }

  .goal__title {
    padding-left: 164px;

    &::before {
      top: -30px;
      left: 1px;

      width: 100px;
      height: 100px;
    }
  }

  .goal__title--slim {
    &::after {
      top: -37px;
      left: 14px;

      width: 71px;
      height: 97px;
    }
  }

  .goal__title--pro {
    &::after {
      top: -10px;
      left: -17px;

      width: 134px;
      height: 57px;
    }
  }

  .goal__description {
    padding-top: 74px;
    padding-bottom: 31px;
    width: 462px;
  }
}
