.main-nav {
  position: relative;

  background-color: $white;
}

.main-nav__toggle {
  position: absolute;
  top: -45px;
  right: 0;

  display: block;
  width: 19px;
  height: 19px;

  background-image: url("../img/icon-close.svg");
  background-color: $white;
  border: none;
  cursor: pointer;
}

.main-nav__toggle--closed {
  background-image: url("../img/icon-mobile-menu.svg");
}
