.main-nav {
  position: relative;

  background-color: $white;
}

//Для JavaScript
.main-nav__toggle {
  position: absolute;
  top: -43px;
  right: -3px;

  display: none;
  width: 25px;
  height: 19px;

  background-repeat: no-repeat;
  background-color: $white;
  border: none;

  cursor: pointer;
}

//Для JavaScript
.main-nav__toggle--open {
  background-image: url("../img/icon-close.svg");
}

//Для JavaScript
.main-nav__toggle--closed {
  background-image: url("../img/icon-mobile-menu.svg");
}

@media (min-width: $tablet-width) {
  .main-nav__toggle {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    background-color: transparent;
  }
}
