.page-footer {
  background-color: $bg-grey;
}

.page-footer__logo {
  display: flex;
  justify-content: center;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.page-footer__logo-image {
  padding-top: 28px;
  padding-bottom: 32px;
  width: 128px;
}

@media (min-width: $tablet-width) {
  .page-footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .page-footer__logo-image {
    padding-top: 57px;
    padding-bottom: 62px;
    margin-right: 28px;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__logo-image {
    padding-top: 60px;
    padding-bottom: 64px;
  }
}
