.promo {
  padding-top: 29px;
  padding-bottom: 22px;

  color: $white;

  background-image: url("../img/index-can-mobile@1x.png"),
    url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: 50% 70%, 50% 0;
}

.promo__title {
  margin: 0;
  padding: 0;

  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  text-align: center;
}

.promo__slogan {
  margin: 0;
  margin-top: 19px;
  margin-bottom: 302px;
  padding: 0;

  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .promo {
    background-image: url("../img/index-can-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-position: 50% 100%;
  }

  .promo__wrapper {
    padding-left: 90px;
    width: 510px;
  }

  .promo__title {
    color: $black;
    font-size: 60px;
    line-height: 60px;
    text-align: left;
  }

  .promo__slogan {
    margin-top: 33px;
    margin-bottom: 48px;

    color: $black;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
  }

  .promo__link {
    margin-bottom: 530px;
    width: 245px;
  }
}

@media (min-width: $desktop-width) {
  .promo {
    padding-top: 113px;
    padding-bottom: 80px;

    background-image: url("../img/index-can-desktop@1x.png");
    background-repeat: no-repeat;
    background-position: 63% 50%;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 50%;
      height: 696px;
      z-index: -1;

      background-image: url("../img/index-background-desktop@1x.jpg");
      background-repeat: no-repeat;
    }
  }

  .promo__wrapper {
    padding-left: 85px;
    padding-bottom: 188px;
  }

  .promo__slogan {
    margin-bottom: 53px;
  }

  .promo__link {
    margin-bottom: 0;
  }
}
