.results {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.results__value {
  position: relative;
  margin: 0;
  width: 123px;
  padding-top: 14px;
  padding-bottom: 15px;

  font-size: 24px;
  line-height: 24px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;

  border: 1px solid $border-grey;
  border-radius: 3px;
}

.results__description {
  position: absolute;
  top: 46px;
  display: block;
  width: 87px;

  color: $dark-grey;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  text-transform: lowercase;

  background-color: $bg-grey;
}

.results__description--left {
  left: 17px;
  padding: 0 16px;
}

.results__description--right {
  right: 18px;
}

.results__wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 35px;
  width: 187px;

  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
}

.results__text,
.results__price {
  margin: 0;
}

@media (min-width: $tablet-width) {
  .results__value {
    margin-right: 42px;
    padding-top: 15px;
    padding-bottom: 18px;
    width: 162px;

    font-size: 30px;
    line-height: 37px;
  }

  .results__description {
    top: 62px;
    padding: 0 8px;

    font-size: 14px;
    line-height: 14px;

    background-color: $white;
  }

  .results__description--left {
    left: 23px;
    width: 114px;
  }

  .results__description--right {
    right: 9px;
    width: 143px;
  }

  .results__wrapper {
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    margin-left: auto;
    width: 176px;
  }

  .results__text,
  .results__price {
    font-size: 20px;
    line-height: 20px;
  }

  .results__price {
    margin-top: 10px;
  }
}

@media (min-width: $desktop-width) {
  .results {
    width: 366px;
  }

  .results__value {
    margin-right: 0;
  }

  .results__description {
    background-color: $bg-grey;
  }

  .results__wrapper {
    justify-content: flex-start;
    flex-wrap: nowrap;
    margin-top: 60px;
    margin-left: 0;
    width: 366px;
  }

  .results__text {
    margin-right: 64px;
  }

  .results__price {
    margin-top: 0;
  }
}
