.site-list {
  @include list-reset;
}

.site-list__item {
  padding-top: 24px;
  padding-bottom: 24px;

  color: $black;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;

  border-top: 1px solid $grey;
}

.site-list__link[href] {
  &:hover,
  &:focus {
    color: rgba(17, 17, 17, 0.6);
  }

  &:active {
    color: rgba(17, 17, 17, 0.3);
  }
}
