.site-list {
  @include list-reset;
}

.site-list__item {
  padding-top: 24px;
  padding-bottom: 24px;

  color: $black;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;

  border-top: 1px solid $grey;
}

.site-list__link[href] {
  &:hover,
  &:focus {
    color: rgba(17, 17, 17, 0.6);
  }

  &:active {
    color: rgba(17, 17, 17, 0.3);
  }
}

@media (min-width: $tablet-width) {
  .site-list {
    display: flex;
  }

  .site-list__item {
    margin-left: 38px;
    padding-bottom: 0;

    font-size: 18px;
    line-height: 25px;

    border: none;
  }

  .site-list__link--active {
    padding-bottom: 9px;

    border-bottom: 2px solid $green;
  }
}

@media (min-width: $desktop-width) {
  .site-list__item {
    font-size: 20px;
  }

  .site-list__link--index {
    color: $white;

    border-color: $white;
  }

  .site-list__link--index[href] {
    &:hover,
    &:focus {
      color: rgba(255, 255, 255, 0.6);
    }

    &:active {
      color: rgba(255, 255, 255, 0.3);
    }
  }
}
