.social__list {
  @include list-reset;

  display: flex;
  justify-content: center;
  align-items: center;

  border-top: 1px solid $border-light-grey;
  border-bottom: 1px solid $border-light-grey;
}

.social__item {
  padding-top: 22px;
  padding-bottom: 18px;
  width: 54px;

  text-align: center;
}

.social__icon {
  fill: $darker-grey;

  &:hover,
  &:focus {
    fill: $green;
  }

  &:active {
    fill: $green;
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .social__list {
    border: none;
  }

  .social__item {
    padding-top: 13px;
    width: 51px;
  }

  .social__icon--vk {
    width: 30px;
    height: 16px;
  }

  .social__icon--insta {
    width: 23px;
    height: 23px;
  }

  .social__icon--fb {
    width: 14px;
    height: 28px;
  }
}
