.social__list {
  @include list-reset;

  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 22px;
  padding-bottom: 21px;

  border-top: 1px solid $border-light-grey;
  border-bottom: 1px solid #$border-light-grey;
}

.social__item {
  width: 55px;
  text-align: center;
}

.social__icon {
  path {
    fill: $darker-grey;
  }

  &:hover,
  &:focus {
    path {
      fill: $green;
    }
  }

  &:active {
    path {
      fill: $green;
      opacity: 0.3;
    }
  }
}
