@media (min-width: $tablet-width) {
  .user-form {
    margin: 0 auto;
    padding-bottom: 72px;
    width: 630px;
  }
}

@media (min-width: $desktop-width) {
  .user-form {
    padding-bottom: 85px;
    width: 1220px;
  }
}
