html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  min-width: 320px;

  color: $black;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;

  background-color: $white;
}

img {
  width: 100%;
  height: auto;
}

a {
  color: $black;
  text-decoration: none;
}

.container {
  margin: 0 auto;
  width: 280px;
}

.visually-hidden {
  position: absolute;

  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;

  border: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@media (max-width: $mobile-only) {
  .wrapper-promo {
    background-image: linear-gradient($bg-promo 305px, transparent 305px);
  }
}

@media (min-width: $tablet-width) {
  .container {
    width: 708px;
  }

  .wrapper-catalog {
    background-image: linear-gradient($white 88px, $green 88px, $green 91px, $white 91px);
  }

  .wrapper-form {
    background-image: linear-gradient($white 857px, $green 857px, $green 860px, $white 860px, $white 1158px, $green 1158px, $green 1161px, $white 1161px, $white 1509px, $green 1509px, $green 1512px, $white 1512px);
  }
}

@media (min-width: $desktop-width) {
  .container {
    width: 1220px;
  }

  .wrapper-catalog {
    background-image: linear-gradient($white 97px, $green 97px, $green 100px, $white 100px);
  }

  .wrapper-form {
    background-image: linear-gradient($white 600px, $green 600px, $green 603px, $white 603px, $white 831px, $green 831px, $green 834px, $white 834px, $white 1183px, $green 1183px, $green 1186px, $white 1186px);
  }
}
